.header__photographerPage--contactBtn {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.photographerPage__aside {
  max-width: 1220px;
  width: 100%;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 23px;
}
.photographerPage__aside .photographerPage__insert {
  width: 350px;
  height: 50px;
  margin: 0px;
  background-color: #D3573C;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.photographerPage__aside .photographerPage__insert--LikesContainer {
  display: flex;
  flex-direction: row;
  margin: 0px;
  gap: 5px;
  justify-content: space-around;
}
.photographerPage__aside .photographerPage__insert--SumLikes {
  margin: 0px 10px 0px 20px;
}
.photographerPage__aside .photographerPage__insert--icon {
  margin: 0;
}
.photographerPage__aside .photographerPage__insert--price {
  margin: 0px 20px 0px 50px;
}

.mediaCard__caption--likeBtnIcon {
  width: 35px;
  height: 50px;
  font-size: 25px;
  color: #901c1c;
  border: 0px solid transparent;
  background-color: transparent;
  position: relative;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}
.mediaCard__caption--likeBtnIcon .empty-heart {
  position: absolute;
  top: 13px;
  left: 5px;
  opacity: 1;
  transition: opacity 1500ms;
}
.mediaCard__caption--likeBtnIcon .full-heart {
  position: absolute;
  top: 13px;
  left: 5px;
  opacity: 0;
  transform: scale(0);
  transition: all 500ms;
}
.mediaCard__caption--likeBtnIcon:hover .empty-heart {
  opacity: 0;
}
.mediaCard__caption--likeBtnIcon:hover .full-heart {
  opacity: 1;
  transform: scale(1);
  transform-origin: bottom;
}

* {
  max-width: 1440px;
  margin: 0px auto;
  box-sizing: border-box;
  text-decoration: none;
}

#main {
  width: 100%;
  padding-bottom: 60px;
}

.hidden {
  display: none;
}

h1 {
  color: #901C1C;
}

h2 {
  color: #D3573C;
  font-size: 36px;
}

* {
  font-family: "DM Sans", sans-serif;
}

.header {
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin-left: 100px;
}
.header__logo--img {
  height: 50px;
}
.header h1 {
  margin-right: 100px;
}
@media screen and (max-width: 768px) {
  .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .header__logo {
    margin: 100px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header h1 {
    margin: 0px auto;
    font-size: 1.5rem;
  }
}

.photographer__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer__section .photographer__article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #D3573C;
}
.photographer__section .photographer__article--link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
.photographer__section .photographer__article--linkImg {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}
.photographer__section .photographer__article--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}
.photographer__section .photographer__article--caption {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.photographer__section .photographer__article--captionLocation {
  display: flex;
  flex-direction: row;
  gap: 5px;
  color: #901C1C;
}
.photographer__section .photographer__article--captionTagLine {
  color: black;
}
.photographer__section .photographer__article--captionPrice {
  color: #525252;
}

.photographer__media {
  max-width: 1200px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  margin-top: 50px;
}
.photographer__media .mediaCard {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.photographer__media .mediaCard__sample {
  width: 300px;
  height: 300px;
  border-radius: 5px;
  overflow: hidden;
}
.photographer__media .mediaCard__sample--img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photographer__media .mediaCard__sample--video {
  width: 100%;
  height: 100%;
}
.photographer__media .mediaCard__caption {
  width: 275px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}
.photographer__media .mediaCard__caption--title {
  margin: 0px;
  color: #901c1c;
  font-size: 20px;
}
.photographer__media .mediaCard__caption--likeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}
.photographer__media .mediaCard__caption--likes {
  margin: 0px;
  color: #901c1c;
  font-size: 20px;
  font-weight: bold;
}

.header__photographerPage {
  max-width: 1200px;
  width: 100%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #FAFAFA;
}
.header__photographerPage--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 100px;
}
.header__photographerPage--name {
  font-size: 55px;
  color: #d3573c;
  margin: 0px 0px 10px 0px;
}
.header__photographerPage--location {
  font-size: 20px;
  color: #901c1c;
  margin: 0px 0px 15px 0px;
}
.header__photographerPage--tagline {
  font-size: 15px;
  margin: 0px;
}
.header__photographerPage--contactBtn {
  align-self: center;
  justify-self: center;
}
.header__photographerPage--img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}
.header__photographerPage--imgProfile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.2);
}

/*# sourceMappingURL=style.css.map */
