.dropdown {
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    position: relative;
    font-size: 25px;
    margin-top: 25px;
    z-index: 1;
    &__title {
        width: 200px;
        margin: 0;
    }
    &__menu {
        width: 200px;
        position: absolute;
        left: 200px;
        flex-direction: column;
        color: white;
        background-color: $colour-bg-primary;
        border: 2px solid $colour-bg-primary;
        border-radius: $border-rad;
        padding-bottom: 10px;
    }
    &__button {
        width: 100%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0px 10px 0px 15px;
        cursor: pointer;
    }      
    &__content li {
        height: 40px;
        list-style-type: none;
        cursor: pointer;
        margin-top: 5px;
        margin-right: 15px;
        padding-top: 5px;
        padding-left: 10px;
    }
    &__content li:hover {
        border: 2px solid white;
    }
};
.dropdown li:hover {
    border: 2px solid white;
};
.arrow-animation-up {
    transform: rotate(180deg);
    transition: transform 500ms;
};
.arrow-animation-down {
    transform: rotate(180deg);
    transition: transform 300ms;
};