.mediaCard {
    &__caption {
        &--likeBtnIcon {
            width: 35px;
            height: 50px;
            font-size: 25px;
            color: $colour-font-secondary;
            border: 0px solid transparent;
            background-color: transparent;
            position: relative;
            margin: 0px;
            padding: 0px;
            cursor: pointer;
            &:focus {
                @include focus-black;
            }            
            .empty-heart {
                position: absolute;
                top: 13px;
                left: 5px;
                opacity: 1;
            }
            .full-heart {
                position: absolute;
                top: 13px;
                left: 5px;
            }
        }
    }
};




