* {
    max-width: 1440px;
    margin: 0px auto;
    box-sizing: border-box;
    text-decoration: none;
};

.hidden {
    display: none;
};

h1 {
    color: #901C1C;
};

h2 {
    color: #D3573C;
    font-size: 36px;
};
