$colour-bg-primary: #901C1C;
$colour-font-primary: #d3573c;

$colour-bg-secondary: #D3573C;
$colour-font-secondary:#901c1c;

$colour-bg-tertiary: #FAFAFA;
$colour-font-tertiary: #525252;

$border-circle: 50%;
$border-rad: 5px;
