$colour-bg-primary: #901C1C;
$coulour-font-primary: #d3573c;

$coulour-bg-secondary: #D3573C;
$coulour-font-secondary:#901c1c;

$colour-bg-tertiary: #FAFAFA;
$coulour-font-tertiary: #525252;

$border-circle: 50%;
$boder-rad: 5px;
